.promo {
    // .promo__social
    background: url(../../img/main_bg.jpg) no-repeat center center / cover;
    position: relative;
    height: 100vh;
    color: $main-light;
    padding-top: 260px;
    &__social {
        position: absolute;
        display: flex;
        writing-mode: sideways-lr;
        align-items: center;
        gap: rem(16);
        margin: 0 10px 0 50px;
        font-weight: 700;
    }
    // .promo__divider

    &__divider {
        display: inline-block;
        width: rem(1);
        height: rem(70);
        background-color: $main-light;
        align-self: center;
    }
    &__content {
        margin-left: 100px;
    }

    // .promo__title

    &__title {
        font-weight: 700;
        margin-top: rem(30);
        font-size: rem(48);
        line-height: 100%;
    }

    // .promo__subtitle

    &__subtitle {
        font-weight: 700;
        font-size: rem(24);
        line-height: 100%;
        margin-top: rem(10);
    }

    // .promo__btns

    &__btns {
        display: flex;
        max-width: 555px;
        width: 100%;
        margin-top: rem(100);
    }
}
